body{
    background-color: #e0fff0;
}

h1{
    background-image: linear-gradient(120deg, #6b96a8 0%, #8fd3f4 100%);
    width: 500px;
}

h2{
    color:#0099FF;
    text-decoration: underline;
}

.ex{
    margin: 10px 0px;
    border: 2px solid #000000;
    width: 500px;
}
